@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/Raleway-Bold/Raleway-Bold.eot") format("embedded-opentype"), url("/assets/fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("/assets/fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), url("/assets/fonts/Raleway-Bold/Raleway-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/Raleway-Light/Raleway-Light.eot") format("embedded-opentype"), url("/assets/fonts/Raleway-Light/Raleway-Light.woff") format("woff"), url("/assets/fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"), url("/assets/fonts/Raleway-Light/Raleway-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("/assets/fonts/Raleway-Medium/Raleway-Medium.eot") format("embedded-opentype"), url("/assets/fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"), url("/assets/fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"), url("/assets/fonts/Raleway-Medium/Raleway-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

body {
  background: linear-gradient(#fdfdfd, #c5c5c5);
  padding: 70px; }

.section {
  width: 100%;
  font-family: "Raleway";
  color: #d8d9db;
  font-size: 15.68px;
  font-weight: bold; }

.top-text {
  text-align: right;
  vertical-align: bottom;
  padding-top: 70px; }
  @media (max-width: 767px) {
    .top-text {
      padding-top: 30px; } }

.block {
  height: 24px;
  background-color: black;
  margin-top: 25px; }

.difficulties ul li {
  display: inline;
  color: #8e8e8e; }

.large {
  font-size: 23.54px; }

.text-green {
  color: #b1d970; }

.clicked {
  color: #007624; }

.top-10 {
  background-color: #f1f2f2;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px; }
  .top-10 span {
    vertical-align: middle; }
    .top-10 span.title {
      font-size: 16.19px;
      color: white; }
    .top-10 span.orange {
      font-size: 70.16px;
      color: #f7bc3b;
      background-color: #f1f2f2; }

.title {
  background-color: #999999;
  width: 50%;
  margin: 0px; }

.user {
  border-bottom: 3px dotted;
  padding-top: 2px; }
  .user p {
    font-size: 13.3px;
    color: #b3b3b3;
    font-weight: 300;
    line-height: 10px; }
  .user span.time {
    font-size: 12.5px;
    color: #646464;
    font-weight: bold;
    float: right; }

.col-centered {
  float: none;
  margin: 0 auto; }

img {
  position: absolute; }
  img.left {
    left: 0.1%; }
    @media (max-width: 991px) {
      img.left {
        display: none; } }
  img.right {
    right: 0.1%; }
    @media (max-width: 991px) {
      img.right {
        display: none; } }

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white; }

.without-padding {
  padding: 0px; }

.relative {
  position: relative; }

.game p {
  font-size: 14.58px;
  color: #010101;
  font-weight: 300;
  text-align: right; }

.game a {
  border-radius: 5px;
  display: inline; }
  .game a.start {
    font-size: 29px;
    font-weight: bold;
    color: white;
    background: linear-gradient(#b5dc74, #77a230);
    padding: 10px; }

.game .game-container {
  background-color: #e2e3e4;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 1px 1px 1px 1px grey;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 10px; }

.game .disks {
  display: inline-block;
  margin: 0 auto; }
  .game .disks .disk {
    background-color: #b9babb;
    border-radius: 50%;
    margin-top: 10px;
    width: 90px;
    height: 95px;
    margin-left: 10px;
    float: left; }

.without-border {
  border-bottom: none; }

/*# sourceMappingURL=styles.css.map */